[submodule "meta-hilscher-netfield"]
	path = meta-hilscher-netfield
	url = https://github.com/HilscherAutomation/meta-hilscher-netfield.git
[submodule "meta-hilscher-netfield-intel"]
	path = meta-hilscher-netfield-intel
	url = https://github.com/HilscherAutomation/meta-hilscher-netfield-intel.git
[submodule "meta-hilscher-netfield-raspberrypi"]
	path = meta-hilscher-netfield-raspberrypi
	url = https://github.com/HilscherAutomation/meta-hilscher-netfield-raspberrypi.git
[submodule "meta-hilscher-netfield-imx8"]
	path = meta-hilscher-netfield-imx8
	url = https://github.com/HilscherAutomation/meta-hilscher-netfield-imx8.git
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "meta-swupdate"]
	path = meta-swupdate
	url = https://github.com/sbabic/meta-swupdate
	branch = kirkstone
[submodule "meta-security"]
	path = meta-security
	url = https://git.yoctoproject.org/meta-security
	branch = kirkstone
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
	branch = kirkstone
[submodule "meta-intel"]
	path = meta-intel
	url = https://git.yoctoproject.org/meta-intel
	branch = kirkstone
[submodule "meta-gplv2"]
	path = meta-gplv2
	url = https://git.yoctoproject.org/meta-gplv2
	branch = kirkstone
[submodule "meta-freescale"]
	path = meta-freescale
	url = https://git.yoctoproject.org/meta-freescale
	branch = kirkstone
[submodule "meta-freescale-distro"]
	path = meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro
	branch = kirkstone
[submodule "meta-hilscher-netfield-rust"]
	path = meta-rust
	url = https://github.com/HilscherAutomation/meta-hilscher-netfield-rust.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = kirkstone
[submodule "meta-bsp-imx8mm"]
	path = meta-bsp-imx8mm
	url = https://github.com/compulab-yokneam/meta-bsp-imx8mm
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang
[submodule "meta-rauc"]
	path = meta-rauc
	url = https://github.com/rauc/meta-rauc
	branch = kirkstone
[submodule "meta-arm"]
	path = meta-arm
	url = git://git.yoctoproject.org/meta-arm
[submodule "meta-phytec"]
	path = meta-phytec
	url = git://git.phytec.de/meta-phytec
[submodule "meta-hilscher-netfield-phytec"]
	path = meta-hilscher-netfield-phytec
	url = git@github.com:HilscherAutomation/meta-hilscher-netfield-phytec.git
[submodule "meta-imx"]
	path = meta-imx
	url = https://github.com/nxp-imx/meta-imx
